.projects{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: .5rem;
}

.cardProject{
	position: relative;
	width: calc(50% - 1rem);
	background-color: rgb(25, 27, 32);
	padding: 1rem;
	border-radius: 5px;
}

@property --angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.cardProject:after{
	/*--angle: 0deg;*/
	content: '';
	position: absolute;
	z-index: -1;
	border-radius: 5px;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: 5s spin linear infinite;
}

@keyframes spin{
	from{
		--angle: 0deg;
	}
	to{
		--angle: 360deg;
	}
}

.rolProject{
	display: block;
	opacity: .5;
	font-size: .8rem;
	margin-bottom: .5rem
}
.cardProject p{
	font-size: .9rem;
	color: #f1f1f1;
}

.projectImg{
	margin: .5rem 0;
	border-radius:5px;
	width: 100%;
	overflow: hidden;
}
.projectImg img{
    aspect-ratio: 16/9;
	width: 100%;
	height: 100%;
}

.projectLinks{
	display: flex;
	position: absolute;
	top: 1rem;
	right: 1rem;
	gap:1px;
}

/* BTN VISITAR PAGINA */
.linkProject{
	display: flex;
/*	position: absolute;
	top: 1rem;
	right: 1rem;*/
	padding: 5px;
	border-radius: 50%;
	/*background-color: #000;*/
	transition: all .3s ease-in-out
}

.linkProject img{
	width: 24px;
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7494%) hue-rotate(203deg) brightness(100%) contrast(102%);
}

.linkProject:hover{
	background-color: #000;
}

.projectTechnologies{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	justify-content: center;
}

.projectTechnologies span{
	position: relative
}

.projectTechnologies span:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	border-radius: 5px;
}

.projectTechnologies img{
    aspect-ratio: 9/9;
	width: 24px;
}
/* TECHNOLOGIES */
.html:after{ background-color: #E34F26;}
.javascript:after{ background-color: #F7DF1E;}
.php:after{ background-color: #777BB4;}
.css:after{ background-color: #1572B6;}
.mysql:after{ background-color: #4479A1;}
.api:after{ background-color: #cacaca;}

/* DEFAULT */
.default::after{
	background-image: conic-gradient(from var(--angle),transparent,#8cb9ed);
}

.default h3{
	color: #8cb9ed;
}

/* LOGISTRUCK */
.logistruck:after{
	background-image: conic-gradient(from var(--angle),transparent,#259073);
}

.logistruck h3{
	color: #259073;
}

/* RAPIDASH */
.rapidash h3{
	color: #970D0D;
}

.rapidash:after{
	background-image: conic-gradient(from var(--angle),transparent,#970D0D);
}

@media(max-width: 500px){
	.cardProject{
		width: 100%;
		height: auto;
	}

	.rolProject{
		font-size: .7rem;
		margin: 0;
	}
}
