@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
	margin: 0;
	box-sizing: border-box;
}

:root {
  font-family: Titillium Web, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:  rgb(13, 14, 17);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;  
}
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(13, 14, 17);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #1022415c;    /* color of the scroll thumb */
}

hr{
	margin: 0 auto;
	width: 50%;
	max-width: 700px;
	box-shadow: 0px 0px 10px 0px rgb(0,188,212,0.5);
}

section{
	width: 60%;
	max-width: 800px;
	margin: 2rem auto;
	padding: .5rem;
	position: relative;
}

section h2{
	color: #c2d8f5;
}

/**********************
*
*	HEADER
*
*******************/
.navbar{
	background-color: rgb(13, 14, 17, .9);
	position: sticky;
	z-index: 3;
	top: 0;
	left: 0;
	padding: 1rem;
	box-shadow: 0px 0px 10px 0px rgb(0,188,212,0.5);
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.navbar-logo{
	user-select: none;
	text-decoration: none;
	cursor: default;
}

.navbar-logo h2, .navbar ul{
  margin: 0;
}

.navbar-logo h2{
	color: #c2d8f5;
	font-style: italic;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #c2d8f5;
    text-transform: capitalize;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #2877cf;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.btn-menu{
	background-color: transparent;
	border: none;
	outline: none;
	display: none;
}

.btn-menu img{
	filter: brightness(0) saturate(100%) invert(56%) sepia(48%) saturate(7018%) hue-rotate(195deg) brightness(86%) contrast(87%);
}

/**********************
*
*	PRINCIPAL
*
*******************/

.box-pre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../public/img/img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -8px 20px 0px rgb(0, 188, 212, 0.5);
}

.nombre{
  color: #c2d8f5;
  font-size: 2.3rem;
  text-align: center;
}

.nombre span{
	display: block;
	width: 21.5ch;
	white-space: nowrap;
	border-right: 4px solid;
	animation: typing 2s steps(12), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing{
	from{ width: 0; }
}

@keyframes blink {
	50%{ border-color: transparent; }
}.nombre span{
	display: block;
	width: 21.5ch;
	white-space: nowrap;
	border-right: 4px solid;
	animation: typing 2s steps(12), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing{
	from{ width: 0; }
}

@keyframes blink {
	50%{ border-color: transparent; }
}

.nombre p{
  color: #ffcc00;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.btn{
  outline: none;
  cursor: pointer;
  padding: .5rem 2rem;
  font-size: 1rem;
  border: 2px solid #183762;
  background-color: #183762;
  color: #c2d8f5;
  text-decoration: none;
  /* font-weight: bold; */
  text-transform: capitalize;
  border-radius: 5px;
  overflow: hidden;
}

.btn:hover{
  transition: all .4s;
  background-color: transparent;
  /* color: #183762; */
  box-shadow: 0px 0px 10px 0px rgb(0, 188, 212, 0.5);
}
/***********************
*
*			FOOTER
*
**********************/
footer{
	background-color: rgb(11, 14,22, .9);
	/*box-shadow: 0px 0px 10px 0px rgb(0,188,212,0.5);*/
	color: #c2d8f5;
	text-align: center;
	padding: 2rem;
}
@media(max-width: 1024px) {
  section{
    width: 70%;
  }
}

@media(max-width: 500px) {
  .navbar{
		justify-content: space-between;
		align-items: center;
	}

	.navbar h2{
		margin-left: 1rem;
	}

	.navbar ul{
		overflow: hidden;
		position: absolute;
	    top: 4.3em;
	    right: 0;
	    width: 100%;
	    display: flex;
	    /* display: none; */
	    margin: 0;
	    background: rgb(13 14 17);
	    box-shadow: -10px 0px 10px 0px rgb(0 188 212 / 50%);
	    padding: 0;
	    flex-direction: column;
	    gap: 2rem;
	    height: 0;
	    transition: all .4s;
	}

  	.btn-menu{
		display: block;
	}
	
	.box-pre{
		height: 50vh;
	}
	

	.nombre p{
		font-size: 2rem;
	}

	.nombre span{
	    font-size: 1.8rem;
	}

	hr{
		width: 90%;
	}

	section{
		width: 90%;
	}

	footer{
		font-size: .8rem
	}
}