.footer{
	background-color: rgb(11, 14,22, .9);
	/*box-shadow: 0px 0px 10px 0px rgb(0,188,212,0.5);*/
	color: #c2d8f5;
	text-align: center;
	padding: 2rem;
}

@media (max-width: 500px) {
    .footer{
        font-size: .8rem;
    }
}