@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
	margin: 0;
	box-sizing: border-box;
}

:root {
  font-family: Titillium Web, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:  rgb(13, 14, 17);
  /* background: linear-gradient(180deg, rgba(13,14,17,1) 50%, #353945 95%, #3c4250 100%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;  
  overflow: hidden;
}

main{
  /* height: calc(100vh - 70px);  */
  overflow-y: auto;
}

main::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
    background: rgb(13, 14, 17);        /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
    background-color: #1022415c;    /* color of the scroll thumb */
}

hr{
	margin: 0 auto;
	width: 50%;
	max-width: 700px;
	box-shadow: 0px 0px 10px 0px rgb(0,188,212,0.5);
}

a,img{
  user-select: none;
}

section{
	width: 60%;
	max-width: 800px;
	margin: 1rem auto;
	padding: .5rem;
	position: relative;
}

section h2{
	color: #c2d8f5;
}

/**********************
*
*	PRINCIPAL
*
*******************/

.box-pre{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -8px 20px 0px rgb(0, 188, 212, 0.5);
}

.nombre{
  color: #c2d8f5;
  font-size: 2.3rem;
  text-align: center;
}

.nombre span{
	display: block;
	width: 21.5ch;
	white-space: nowrap;
	border-right: 4px solid;
	animation: typing 2s steps(12), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing{
	from{ width: 0; }
}

@keyframes blink {
	50%{ border-color: transparent; }
}.nombre span{
	display: block;
	width: 21.5ch;
	white-space: nowrap;
	border-right: 4px solid;
	animation: typing 2s steps(12), blink .5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing{
	from{ width: 0; }
}

@keyframes blink {
	50%{ border-color: transparent; }
}

.nombre p{
  color: #ffcc00;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.btn{
  outline: none;
  cursor: pointer;
  padding: .5rem 2rem;
  font-size: 1rem;
  border: 2px solid #183762;
  background-color: #183762;
  color: #c2d8f5;
  text-decoration: none;
  /* font-weight: bold; */
  text-transform: capitalize;
  border-radius: 5px;
  overflow: hidden;
}

.btn:hover{
  transition: all .4s;
  background-color: transparent;
  /* color: #183762; */
  box-shadow: 0px 0px 10px 0px rgb(0, 188, 212, 0.5);
}

/* 
  SPLIDE
*/
.splide{
	margin: .5rem 0;
	border-radius:5px;
	width: 100%;
	overflow: hidden;
}
.splide__slide img {
  width: 100%;
  height: auto;
}
.splide:not(.is-overflow) .splide__pagination{
	display: flex;
}

/* 
  MARCA PAGE ACTIVA
*/
.active img{
  filter: brightness(0) saturate(100%) invert(36%) sepia(91%) saturate(764%) hue-rotate(181deg) brightness(92%) contrast(91%);
}

.active::after{
  content: '';
  height: 3px;
  width: 100%;
  background: #2877cf;
  position: absolute;
  left: 0;
  bottom: -10.5px;
}

@media(max-width: 1024px) {
  section{
    width: 70%;
  }
}

@media(max-width: 950px){
  section{
    width: 90%;
  }
}

@media(max-width: 500px) {

	.nombre p{
		font-size: 2rem;
	}

	.nombre span{
	    font-size: 1.8rem;
	}

	hr{
		width: 90%;
	}

}